<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${project.name}">Project</title>
</head>
<body>

<form th:method="POST" th:action="@{/projects/edit-process/{id}(id = ${project.getID()})}" th:object="${project}">

    <input type="text" th:field="*{name}">
    </br>
    <input type="text" th:field="*{description}">
    </br>
    <input type="submit" th:value="${'Сохранить изменения'}">
    </br>

</form>

<p th:text="${'Проект - ' + project.name}"></p> <br>
<p th:text="${'Описание - ' + project.description}"></p> <br>

<form th:method="POST" th:action="@{/projects/add-user/{id}(id = ${project.getID()})}" th:object="${user_add}">
    <select th:object="${user_add}" th:field="*{ID}">
        <option th:each="user : ${users}" th:value="${user.getID()}" th:text="${user.name + ' ' + user.surname}" ></option>
    </select>
    <input type="submit" th:value="${'Подключить нового пользователя к проекту'}">

</form>



<form th:method="POST" th:action="@{/projects/delete-process/{id}(id = ${project.ID})}">
    <input type="submit" th:value="${'Удалить проект'}">
</form>

</br>
<a th:href="@{/task/{project_id}/add-task(project_id=${project.ID})}" th:text="${'Добавить задачу'}"></a>
</br>

<table>
    <tr>
        <th>Наименование задачи</th>
        <th>Статус</th>
        <th>Приоритет</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <th >
            <a th:text="*{task.title}" th:href="@{/task/{id}(id = ${task.ID})}"></a>
        </th>
        <th th:text="*{task.status}"></th>
        <th th:text="*{task.priority}"></th>
    </tr>
</table>


</body>
</html>